@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 3%;
}


header h1{
    font-family: var(--fonte1);
    font-size: 7vw;
    font-weight: 900;
    font-variant: small-caps;
}

header p{
    font-size: 3vh;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

section{
    background-color: white;
    padding: 10vh 3%;
    line-height: 2em;
    padding-left: 40px;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}

section p{
    margin-bottom: 20px;
}

section .normal{
    background-color: white;
    color: black;
}


#img01{
    background-image: url(../img/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment:fixed
}
#img01 p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
}

#img02{
    background-image: url(../img/background002.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#img02 p{
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    padding: 5px;
    display: inline-block;
}


footer{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
}