@font-face {
    font-family: idroid;
    src: url(../fontes/idroid.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, #3AD07E, #1A5C38, #0b2517) ;
   padding: 50px;
   color: white;
}
header p{
    margin: 0 auto;
    text-align: center;
    max-width: 450px;
    font-size: 20px;
    padding: 20px;
}
h1{
    text-align: center;
}

h1, h2{
    font-family: idroid;
    padding-bottom: 20px;
}
span{
   color: #3acc7b; 
}
menu {
    max-width: 1250px;
    margin: auto;
}

menu ul{
    display: inline-flex;
    gap: 30px;
    padding-top: 40px;
}
ul li{
    list-style: none;
    cursor: pointer;
}
main{
    background-color: #84E1AD;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

.container p{
    padding-bottom: 20px;
    font-size: 18px;
}
picture{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.bugdoid {
    display: flex;
    margin: auto;
    padding: 20px;
}

.video{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #1A5C38;
}
.video iframe{
    position: relative;
    width: 100%;
}

.extra{
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    
}
.container-extra{
    margin: 20px;
    background-color: #C5EBD6;
    border-radius: 15px;
}
.container-extra h2{
    background-color: #2FA866;
    border-radius: 15px 15px 0 0;
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.content-extra{
    padding: 20px;
}
.content-extra ul{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.li-1{
    width: 50%;
}
.li-2{
    width: 50%;
}
.content-extra a{
    color: #1A5C38;
    text-decoration: none;
    font-weight: 700;
}


footer{
    background-color: #599072;
    color: white;
    text-align: center;
    padding: 15px;
}
footer cite{
    font-weight: 900;
    font-style: normal;
}